<html>
  <head>
    <title>Jetpath</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

  </head>
  <body ng-app="jetPath">

    <div ng-controller="mainCtrl">
      <!-- Toggling showDetails hides extra information -->
      <div ng-repeat="job in jobs" ng-click="showDetails = !showDetails" class="repeatingbox">
        <div>
        {{job.flavor}}
        </div>

        <!-- Show when showDetails is true. Originally set to false -->
        <div ng-show="showDetails">
          <h1>SHOW</h1>
        </div>
      </div>
    </div>

    <script src="js/app.js"></script>
    <script src="js/controllers/mainCtrl.js"></script>
   <script src="js/services/mainService.js"></script>
    <!-- <script src="js/directives/"></script> -->
  </body>
</html>